h3{
    font-size: 25px !important; 
}

body {
    background: linear-gradient(#00ecfc 0%, #fc0000 100%);
}

#photo1 {
   float: right;
   margin-right: 20px ;
   margin-top: 300 px;
}

#photo2 {
    float: left;
    margin-left: 20px;
    width: 400px;
    height: 200px;
}
 
button{
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 400px;
}